<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Photo Import</string>
    <key>CFBundleDisplayName</key>
    <string>Photo Import</string>
    <key>CFBundleIdentifier</key>
    <string>com.zibby.photoimport</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This app needs access to Photos to import your albums</string>
</dict>
</plist>